h1{
	font-size: 50px;
	font-weight: bold;
}
h2{
	font-size: 30px;
}
h1, h2, h3, h4 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	
}

body{
	background-color: #b7d1c4;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;
	
}
p {
    font-family: Arial, Helvetica, sans-serif;
	background-color: #b7d1c4
	text-align: center;
	
    }

a{
	text-align: center;
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	color: #666699;
	
	}
a:hover{
	font-weight: bold;
	}
	
#models{

	text-align: center;
	
    padding-top: 25px;
    padding-right: 5%;
    padding-bottom: 25px;
    padding-left: 5%;
	
}

#model_cont{
    padding-top: 25px;
    padding-right: 15%;
    padding-bottom: 25px;
    padding-left: 15%;
	background-color: #FFFF99
	
}